#wb_header {
    background: transparent none repeat-x scroll center top;
    height: 500px;
}

#wb_header {
    height: 500px;
}

#wb_main {
    background: #fcf4e0 none repeat-x scroll left top;
    height: 857px;
    padding: 0 0 50px 0;
}

#wb_main {
    height: 907px;
}

#wb_footer {
    background: transparent url("../gallery_gen/58856bd879fa077505c5609e73657f47.jpg") repeat-x scroll center bottom;
    height: 80px;
}

#wb_footer {
    height: 80px;
}

body {
    background: transparent url("../gallery_gen/731fc34b68c4b74872e3f812353a6334.jpg") repeat-x scroll center top;
}

.wb_sbg {
    background: transparent url("../gallery_gen/58856bd879fa077505c5609e73657f47.jpg") repeat-x scroll center bottom;
}

body, .wb_sbg {
    min-width: 992px;
    min-height: 2890px;
}

.root {
    width: 992px;
    height: 2890px;
    overflow: visible;
}

#wb_element_instance0 {
    left: 466px;
    top: 31px;
    min-width: 500px;
    width: 500px;
    min-height: 60px;
    height: 60px;
    display: block;
    z-index: 200;
}

#wb_element_instance0 ul {
    background: transparent none no-repeat scroll center top;
    border: 1px none #000000;
}

#wb_element_instance0, #wb_element_instance0 ul {
    text-align: center;
}

#wb_element_instance0 ul ul {
    background: transparent none repeat scroll left top;
}

#wb_element_instance0 li {
    margin: 10px 25px 10px 25px;
}

#wb_element_instance0 li a {
    text-transform: uppercase;
    border: 0px none #000000;
    padding: 10px 25px 10px 25px;
    font: normal bold 14px Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #ffffff;
    line-height: 16px;
    background: transparent none repeat scroll left top;
}

#wb_element_instance0 li:hover>a, #wb_element_instance0 li:focus>a {
    border: 0px none #000000;
    font: normal bold 14px Arial, Helvetica, sans-serif;
    text-decoration: underline;
    color: #ffffff;
    line-height: 16px;
    background: transparent none repeat scroll left top;
}

#wb_element_instance0 li.active>a {
    border: 0px none #000000;
    font: normal bold 14px Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #ff8000;
    line-height: 16px;
    background: transparent none repeat scroll left top;
}

#wb_element_instance1 {
    left: 20px;
    top: 70px;
    min-width: 169px;
    width: 169px;
    min-height: 72px;
    height: 72px;
    display: block;
    z-index: 201;
}

#wb_element_instance2 {
    left: 15px;
    top: 16px;
    min-width: 180px;
    width: 180px;
    min-height: 180px;
    height: 180px;
    display: block;
    z-index: 192;
}

#wb_element_instance2>div {
    width: 180px;
    height: 180px;
    background: #ff6200;
    border: 5px none #C0C0C0;
    opacity: 1;
    border-radius: 230px 230px 230px 230px;
    -moz-border-radius: 230px 230px 230px 230px;
    -webkit-border-radius: 230px 230px 230px 230px;
}

#wb_element_instance3 {
    left: 439px;
    top: 23px;
    min-width: 553px;
    width: 553px;
    min-height: 75px;
    height: 75px;
    display: block;
    z-index: 155;
}

#wb_element_instance3>div {
    width: 553px;
    height: 75px;
    background: #5c3a36;
    border: 5px none #C0C0C0;
    opacity: 0.8;
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
}

#wb_element_instance4 {
    left: 20px;
    top: 20px;
    min-width: 429px;
    width: 429px;
    min-height: 24px;
    height: 24px;
    display: block;
    z-index: 194;
}

#wb_element_instance5 {
    left: 877px;
    top: 21px;
    min-width: 39px;
    width: 39px;
    min-height: 38px;
    height: 38px;
    display: block;
    z-index: 191;
}

#wb_element_instance5 img {
    width: 39px;
    height: 38px;
    display: block;
    position: static;
    left: 0px;
    top: 0px;
}

#wb_element_instance6 {
    left: 935px;
    top: 20px;
    min-width: 39px;
    width: 39px;
    min-height: 38px;
    height: 38px;
    display: block;
    z-index: 192;
}

#wb_element_instance6 img {
    width: 39px;
    height: 38px;
    display: block;
    position: static;
    left: 0px;
    top: 0px;
}

#wb_element_instance7 {
    left: -1px;
    top: 310px;
    min-width: 993px;
    width: 993px;
    min-height: 190px;
    height: 190px;
    display: block;
    z-index: 112;
}

#wb_element_instance7>div {
    width: 993px;
    height: 190px;
    background: #fa6000;
    border: 0px solid #000000;
    opacity: 0.6;
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
}

#wb_element_instance8 {
    left: 149px;
    top: 364px;
    min-width: 820px;
    width: 820px;
    min-height: 91px;
    height: 91px;
    display: block;
    z-index: 114;
}

#wb_element_instance9 {
    left: 45px;
    top: 353px;
    min-width: 82px;
    width: 82px;
    min-height: 112px;
    height: 112px;
    display: block;
    z-index: 153;
}

#wb_element_instance9 img {
    width: 82px;
    height: 112px;
    display: block;
    position: static;
    left: 0px;
    top: 0px;
}

#wb_element_instance10 {
    left: 120px;
    top: 785px;
    min-width: 850px;
    width: 850px;
    min-height: 72px;
    height: 72px;
    display: block;
    z-index: 107;
}

#wb_element_instance11 {
    left: 30px;
    top: 30px;
    min-width: 280px;
    width: 280px;
    min-height: 43px;
    height: 43px;
    display: block;
    z-index: 108;
}

#wb_element_instance12 {
    left: 310px;
    top: 50px;
    min-width: 680px;
    width: 680px;
    min-height: 10px;
    height: 10px;
    display: block;
    z-index: 109;
}

#wb_element_instance13 {
    left: 0px;
    top: 430px;
    min-width: 992px;
    width: 992px;
    min-height: 310px;
    height: 310px;
    display: block;
    z-index: 110;
}

#wb_element_instance13>div {
    width: 992px;
    height: 310px;
    background: #f7782a;
    border: 0px solid #000000;
    opacity: 1;
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
}

#wb_element_instance14 {
    left: 30px;
    top: 107px;
    min-width: 220px;
    width: 220px;
    min-height: 220px;
    height: 220px;
    display: block;
    z-index: 111;
}

#wb_element_instance14 img {
    width: 220px;
    height: 220px;
    display: block;
    position: static;
    left: 0px;
    top: 0px;
}

#wb_element_instance15 {
    left: 267px;
    top: 107px;
    min-width: 220px;
    width: 220px;
    min-height: 220px;
    height: 220px;
    display: block;
    z-index: 112;
}

#wb_element_instance15 img {
    width: 220px;
    height: 220px;
    display: block;
    position: static;
    left: 0px;
    top: 0px;
}

#wb_element_instance16 {
    left: 505px;
    top: 107px;
    min-width: 220px;
    width: 220px;
    min-height: 220px;
    height: 220px;
    display: block;
    z-index: 113;
}

#wb_element_instance16 img {
    width: 220px;
    height: 220px;
    display: block;
    position: static;
    left: 0px;
    top: 0px;
}

#wb_element_instance17 {
    left: 742px;
    top: 107px;
    min-width: 220px;
    width: 220px;
    min-height: 220px;
    height: 220px;
    display: block;
    z-index: 114;
}

#wb_element_instance17 img {
    width: 220px;
    height: 220px;
    display: block;
    position: static;
    left: 0px;
    top: 0px;
}

#wb_element_instance18 {
    left: 20px;
    top: 340px;
    min-width: 230px;
    width: 230px;
    min-height: 24px;
    height: 24px;
    display: block;
    z-index: 115;
}

#wb_element_instance19 {
    left: 260px;
    top: 340px;
    min-width: 220px;
    width: 220px;
    min-height: 24px;
    height: 24px;
    display: block;
    z-index: 116;
}

#wb_element_instance20 {
    left: 510px;
    top: 340px;
    min-width: 220px;
    width: 220px;
    min-height: 24px;
    height: 24px;
    display: block;
    z-index: 117;
}

#wb_element_instance21 {
    left: 740px;
    top: 340px;
    min-width: 230px;
    width: 230px;
    min-height: 24px;
    height: 24px;
    display: block;
    z-index: 118;
}

#wb_element_instance22 {
    left: 20px;
    top: 480px;
    min-width: 240px;
    width: 240px;
    min-height: 39px;
    height: 39px;
    display: block;
    z-index: 119;
}

#wb_element_instance23 {
    left: 270px;
    top: 490px;
    min-width: 700px;
    width: 700px;
    min-height: 20px;
    height: 20px;
    display: block;
    z-index: 120;
}

#wb_element_instance24 {
    left: 20px;
    top: 560px;
    min-width: 131px;
    width: 131px;
    min-height: 131px;
    height: 131px;
    display: block;
    z-index: 121;
}

#wb_element_instance24 img {
    width: 131px;
    height: 131px;
    display: block;
    position: static;
    left: 0px;
    top: 0px;
}

#wb_element_instance25 {
    left: 180px;
    top: 560px;
    min-width: 131px;
    width: 131px;
    min-height: 131px;
    height: 131px;
    display: block;
    z-index: 122;
}

#wb_element_instance25 img {
    width: 131px;
    height: 131px;
    display: block;
    position: static;
    left: 0px;
    top: 0px;
}

#wb_element_instance26 {
    left: 340px;
    top: 560px;
    min-width: 131px;
    width: 131px;
    min-height: 131px;
    height: 131px;
    display: block;
    z-index: 123;
}

#wb_element_instance26 img {
    width: 131px;
    height: 131px;
    display: block;
    position: static;
    left: 0px;
    top: 0px;
}

#wb_element_instance27 {
    left: 500px;
    top: 560px;
    min-width: 131px;
    width: 131px;
    min-height: 131px;
    height: 131px;
    display: block;
    z-index: 124;
}

#wb_element_instance27 img {
    width: 131px;
    height: 131px;
    display: block;
    position: static;
    left: 0px;
    top: 0px;
}

#wb_element_instance28 {
    left: 660px;
    top: 560px;
    min-width: 130px;
    width: 130px;
    min-height: 130px;
    height: 130px;
    display: block;
    z-index: 125;
}

#wb_element_instance28 img {
    width: 130px;
    height: 130px;
    display: block;
    position: static;
    left: 0px;
    top: 0px;
}

#wb_element_instance29 {
    left: 820px;
    top: 560px;
    min-width: 131px;
    width: 131px;
    min-height: 131px;
    height: 131px;
    display: block;
    z-index: 126;
}

#wb_element_instance29 img {
    width: 131px;
    height: 131px;
    display: block;
    position: static;
    left: 0px;
    top: 0px;
}

#wb_element_instance30 {
    left: 20px;
    top: 750px;
    min-width: 85px;
    width: 85px;
    min-height: 93px;
    height: 93px;
    display: block;
    z-index: 127;
}

#wb_element_instance30 img {
    width: 85px;
    height: 93px;
    display: block;
    position: static;
    left: 0px;
    top: 0px;
}

#wb_element_instance31 {
    left: 30px;
    top: 370px;
    min-width: 200px;
    width: 200px;
    min-height: 24px;
    height: 24px;
    display: block;
    z-index: 131;
}

#wb_element_instance32 {
    left: 270px;
    top: 370px;
    min-width: 200px;
    width: 200px;
    min-height: 24px;
    height: 24px;
    display: block;
    z-index: 133;
}

#wb_element_instance33 {
    left: 510px;
    top: 370px;
    min-width: 200px;
    width: 200px;
    min-height: 24px;
    height: 24px;
    display: block;
    z-index: 128;
}

#wb_element_instance34 {
    left: 760px;
    top: 370px;
    min-width: 180px;
    width: 180px;
    min-height: 24px;
    height: 24px;
    display: block;
    z-index: 129;
}

#wb_element_instance35 {
    left: 0px;
    top: 877px;
    display: block;
    z-index: 9000;
}

#wb_element_instance36 {
    left: 0px;
    top: 79px;
    display: block;
    z-index: 9999;
}

@media (min-width: 768px) {
    #wb_header {
        height: 500px;
    }
    #wb_main {
        height: 907px;
    }
    #wb_footer {
        height: 80px;
    }
    body, .wb_sbg {
        min-width: 992px;
        min-height: 1487px;
    }
    .root {
        width: 992px;
        height: 1487px;
        overflow: visible;
    }
    #wb_element_instance0 {
        left: 466px;
        top: 31px;
        min-width: 500px;
        width: 500px;
        min-height: 60px;
        height: 60px;
        display: block;
    }
    #wb_element_instance1 {
        left: 20px;
        top: 70px;
        min-width: 169px;
        width: 169px;
        min-height: 72px;
        height: 72px;
        display: block;
    }
    #wb_element_instance2 {
        left: 15px;
        top: 16px;
        min-width: 180px;
        width: 180px;
        min-height: 180px;
        height: 180px;
        display: block;
    }
    #wb_element_instance2>div {
        width: 180px;
        height: 180px;
    }
    #wb_element_instance3 {
        left: 439px;
        top: 23px;
        min-width: 553px;
        width: 553px;
        min-height: 75px;
        height: 75px;
        display: block;
    }
    #wb_element_instance3>div {
        width: 553px;
        height: 75px;
    }
    #wb_element_instance4 {
        left: 20px;
        top: 20px;
        min-width: 429px;
        width: 429px;
        min-height: 24px;
        height: 24px;
        display: block;
    }
    #wb_element_instance5 {
        left: 877px;
        top: 21px;
        min-width: 39px;
        width: 39px;
        min-height: 38px;
        height: 38px;
        display: block;
    }
    #wb_element_instance5 img {
        width: 39px;
        height: 38px;
        display: block;
        position: static;
        left: 0px;
        top: 0px;
    }
    #wb_element_instance6 {
        left: 935px;
        top: 20px;
        min-width: 39px;
        width: 39px;
        min-height: 38px;
        height: 38px;
        display: block;
    }
    #wb_element_instance6 img {
        width: 39px;
        height: 38px;
        display: block;
        position: static;
        left: 0px;
        top: 0px;
    }
    #wb_element_instance7 {
        left: -1px;
        top: 310px;
        min-width: 993px;
        width: 993px;
        min-height: 190px;
        height: 190px;
        display: block;
    }
    #wb_element_instance7>div {
        width: 993px;
        height: 190px;
    }
    #wb_element_instance8 {
        left: 149px;
        top: 364px;
        min-width: 820px;
        width: 820px;
        min-height: 91px;
        height: 91px;
        display: block;
    }
    #wb_element_instance9 {
        left: 45px;
        top: 353px;
        min-width: 82px;
        width: 82px;
        min-height: 112px;
        height: 112px;
        display: block;
    }
    #wb_element_instance9 img {
        width: 82px;
        height: 112px;
        display: block;
        position: static;
        left: 0px;
        top: 0px;
    }
    #wb_element_instance10 {
        left: 120px;
        top: 785px;
        min-width: 850px;
        width: 850px;
        min-height: 72px;
        height: 72px;
        display: block;
    }
    #wb_element_instance11 {
        left: 30px;
        top: 30px;
        min-width: 280px;
        width: 280px;
        min-height: 43px;
        height: 43px;
        display: block;
    }
    #wb_element_instance12 {
        left: 310px;
        top: 50px;
        min-width: 680px;
        width: 680px;
        min-height: 10px;
        height: 10px;
        display: block;
    }
    #wb_element_instance13 {
        left: 0px;
        top: 430px;
        min-width: 992px;
        width: 992px;
        min-height: 310px;
        height: 310px;
        display: block;
    }
    #wb_element_instance13>div {
        width: 992px;
        height: 310px;
    }
    #wb_element_instance14 {
        left: 30px;
        top: 107px;
        min-width: 220px;
        width: 220px;
        min-height: 220px;
        height: 220px;
        display: block;
    }
    #wb_element_instance14 img {
        width: 220px;
        height: 220px;
        display: block;
        position: static;
        left: 0px;
        top: 0px;
    }
    #wb_element_instance15 {
        left: 267px;
        top: 107px;
        min-width: 220px;
        width: 220px;
        min-height: 220px;
        height: 220px;
        display: block;
    }
    #wb_element_instance15 img {
        width: 220px;
        height: 220px;
        display: block;
        position: static;
        left: 0px;
        top: 0px;
    }
    #wb_element_instance16 {
        left: 505px;
        top: 107px;
        min-width: 220px;
        width: 220px;
        min-height: 220px;
        height: 220px;
        display: block;
    }
    #wb_element_instance16 img {
        width: 220px;
        height: 220px;
        display: block;
        position: static;
        left: 0px;
        top: 0px;
    }
    #wb_element_instance17 {
        left: 742px;
        top: 107px;
        min-width: 220px;
        width: 220px;
        min-height: 220px;
        height: 220px;
        display: block;
    }
    #wb_element_instance17 img {
        width: 220px;
        height: 220px;
        display: block;
        position: static;
        left: 0px;
        top: 0px;
    }
    #wb_element_instance18 {
        left: 20px;
        top: 340px;
        min-width: 230px;
        width: 230px;
        min-height: 24px;
        height: 24px;
        display: block;
    }
    #wb_element_instance19 {
        left: 260px;
        top: 340px;
        min-width: 220px;
        width: 220px;
        min-height: 24px;
        height: 24px;
        display: block;
    }
    #wb_element_instance20 {
        left: 510px;
        top: 340px;
        min-width: 220px;
        width: 220px;
        min-height: 24px;
        height: 24px;
        display: block;
    }
    #wb_element_instance21 {
        left: 740px;
        top: 340px;
        min-width: 230px;
        width: 230px;
        min-height: 24px;
        height: 24px;
        display: block;
    }
    #wb_element_instance22 {
        left: 20px;
        top: 480px;
        min-width: 240px;
        width: 240px;
        min-height: 39px;
        height: 39px;
        display: block;
    }
    #wb_element_instance23 {
        left: 270px;
        top: 490px;
        min-width: 700px;
        width: 700px;
        min-height: 20px;
        height: 20px;
        display: block;
    }
    #wb_element_instance24 {
        left: 20px;
        top: 560px;
        min-width: 131px;
        width: 131px;
        min-height: 131px;
        height: 131px;
        display: block;
    }
    #wb_element_instance24 img {
        width: 131px;
        height: 131px;
        display: block;
        position: static;
        left: 0px;
        top: 0px;
    }
    #wb_element_instance25 {
        left: 180px;
        top: 560px;
        min-width: 131px;
        width: 131px;
        min-height: 131px;
        height: 131px;
        display: block;
    }
    #wb_element_instance25 img {
        width: 131px;
        height: 131px;
        display: block;
        position: static;
        left: 0px;
        top: 0px;
    }
    #wb_element_instance26 {
        left: 340px;
        top: 560px;
        min-width: 131px;
        width: 131px;
        min-height: 131px;
        height: 131px;
        display: block;
    }
    #wb_element_instance26 img {
        width: 131px;
        height: 131px;
        display: block;
        position: static;
        left: 0px;
        top: 0px;
    }
    #wb_element_instance27 {
        left: 500px;
        top: 560px;
        min-width: 131px;
        width: 131px;
        min-height: 131px;
        height: 131px;
        display: block;
    }
    #wb_element_instance27 img {
        width: 131px;
        height: 131px;
        display: block;
        position: static;
        left: 0px;
        top: 0px;
    }
    #wb_element_instance28 {
        left: 660px;
        top: 560px;
        min-width: 130px;
        width: 130px;
        min-height: 130px;
        height: 130px;
        display: block;
        overflow: hidden;
    }
    #wb_element_instance28 img {
        width: 131px;
        height: 131px;
        display: block;
        position: relative;
        left: 0px;
        top: 0px;
        max-width: inherit;
    }
    #wb_element_instance29 {
        left: 820px;
        top: 560px;
        min-width: 131px;
        width: 131px;
        min-height: 131px;
        height: 131px;
        display: block;
    }
    #wb_element_instance29 img {
        width: 131px;
        height: 131px;
        display: block;
        position: static;
        left: 0px;
        top: 0px;
    }
    #wb_element_instance30 {
        left: 20px;
        top: 750px;
        min-width: 85px;
        width: 85px;
        min-height: 93px;
        height: 93px;
        display: block;
    }
    #wb_element_instance30 img {
        width: 85px;
        height: 93px;
        display: block;
        position: static;
        left: 0px;
        top: 0px;
    }
    #wb_element_instance31 {
        left: 30px;
        top: 370px;
        min-width: 200px;
        width: 200px;
        min-height: 24px;
        height: 24px;
        display: block;
    }
    #wb_element_instance32 {
        left: 270px;
        top: 370px;
        min-width: 200px;
        width: 200px;
        min-height: 24px;
        height: 24px;
        display: block;
    }
    #wb_element_instance33 {
        left: 510px;
        top: 370px;
        min-width: 200px;
        width: 200px;
        min-height: 24px;
        height: 24px;
        display: block;
    }
    #wb_element_instance34 {
        left: 760px;
        top: 370px;
        min-width: 180px;
        width: 180px;
        min-height: 24px;
        height: 24px;
        display: block;
    }
}

@media (min-width: 992px) {
    #wb_header {
        height: 500px;
    }
    #wb_main {
        height: 907px;
    }
    #wb_footer {
        height: 80px;
    }
    body, .wb_sbg {
        min-width: 992px;
        min-height: 1487px;
    }
    .root {
        width: 992px;
        height: 1487px;
        overflow: visible;
    }
    #wb_element_instance0 {
        left: 466px;
        top: 31px;
        min-width: 500px;
        width: 500px;
        min-height: 60px;
        height: 60px;
        display: block;
    }
    #wb_element_instance1 {
        left: 20px;
        top: 70px;
        min-width: 169px;
        width: 169px;
        min-height: 72px;
        height: 72px;
        display: block;
    }
    #wb_element_instance2 {
        left: 15px;
        top: 16px;
        min-width: 180px;
        width: 180px;
        min-height: 180px;
        height: 180px;
        display: block;
    }
    #wb_element_instance2>div {
        width: 180px;
        height: 180px;
    }
    #wb_element_instance3 {
        left: 439px;
        top: 23px;
        min-width: 553px;
        width: 553px;
        min-height: 75px;
        height: 75px;
        display: block;
    }
    #wb_element_instance3>div {
        width: 553px;
        height: 75px;
    }
    #wb_element_instance4 {
        left: 20px;
        top: 20px;
        min-width: 429px;
        width: 429px;
        min-height: 24px;
        height: 24px;
        display: block;
    }
    #wb_element_instance5 {
        left: 877px;
        top: 21px;
        min-width: 39px;
        width: 39px;
        min-height: 38px;
        height: 38px;
        display: block;
    }
    #wb_element_instance5 img {
        width: 39px;
        height: 38px;
        display: block;
        position: static;
        left: 0px;
        top: 0px;
    }
    #wb_element_instance6 {
        left: 935px;
        top: 20px;
        min-width: 39px;
        width: 39px;
        min-height: 38px;
        height: 38px;
        display: block;
    }
    #wb_element_instance6 img {
        width: 39px;
        height: 38px;
        display: block;
        position: static;
        left: 0px;
        top: 0px;
    }
    #wb_element_instance7 {
        left: -1px;
        top: 310px;
        min-width: 993px;
        width: 993px;
        min-height: 190px;
        height: 190px;
        display: block;
    }
    #wb_element_instance7>div {
        width: 993px;
        height: 190px;
    }
    #wb_element_instance8 {
        left: 149px;
        top: 364px;
        min-width: 820px;
        width: 820px;
        min-height: 91px;
        height: 91px;
        display: block;
    }
    #wb_element_instance9 {
        left: 45px;
        top: 353px;
        min-width: 82px;
        width: 82px;
        min-height: 112px;
        height: 112px;
        display: block;
    }
    #wb_element_instance9 img {
        width: 82px;
        height: 112px;
        display: block;
        position: static;
        left: 0px;
        top: 0px;
    }
    #wb_element_instance10 {
        left: 120px;
        top: 785px;
        min-width: 850px;
        width: 850px;
        min-height: 72px;
        height: 72px;
        display: block;
    }
    #wb_element_instance11 {
        left: 30px;
        top: 30px;
        min-width: 280px;
        width: 280px;
        min-height: 43px;
        height: 43px;
        display: block;
    }
    #wb_element_instance12 {
        left: 310px;
        top: 50px;
        min-width: 680px;
        width: 680px;
        min-height: 10px;
        height: 10px;
        display: block;
    }
    #wb_element_instance13 {
        left: 0px;
        top: 430px;
        min-width: 992px;
        width: 992px;
        min-height: 310px;
        height: 310px;
        display: block;
    }
    #wb_element_instance13>div {
        width: 992px;
        height: 310px;
    }
    #wb_element_instance14 {
        left: 30px;
        top: 107px;
        min-width: 220px;
        width: 220px;
        min-height: 220px;
        height: 220px;
        display: block;
    }
    #wb_element_instance14 img {
        width: 220px;
        height: 220px;
        display: block;
        position: static;
        left: 0px;
        top: 0px;
    }
    #wb_element_instance15 {
        left: 267px;
        top: 107px;
        min-width: 220px;
        width: 220px;
        min-height: 220px;
        height: 220px;
        display: block;
    }
    #wb_element_instance15 img {
        width: 220px;
        height: 220px;
        display: block;
        position: static;
        left: 0px;
        top: 0px;
    }
    #wb_element_instance16 {
        left: 505px;
        top: 107px;
        min-width: 220px;
        width: 220px;
        min-height: 220px;
        height: 220px;
        display: block;
    }
    #wb_element_instance16 img {
        width: 220px;
        height: 220px;
        display: block;
        position: static;
        left: 0px;
        top: 0px;
    }
    #wb_element_instance17 {
        left: 742px;
        top: 107px;
        min-width: 220px;
        width: 220px;
        min-height: 220px;
        height: 220px;
        display: block;
    }
    #wb_element_instance17 img {
        width: 220px;
        height: 220px;
        display: block;
        position: static;
        left: 0px;
        top: 0px;
    }
    #wb_element_instance18 {
        left: 20px;
        top: 340px;
        min-width: 230px;
        width: 230px;
        min-height: 24px;
        height: 24px;
        display: block;
    }
    #wb_element_instance19 {
        left: 260px;
        top: 340px;
        min-width: 220px;
        width: 220px;
        min-height: 24px;
        height: 24px;
        display: block;
    }
    #wb_element_instance20 {
        left: 510px;
        top: 340px;
        min-width: 220px;
        width: 220px;
        min-height: 24px;
        height: 24px;
        display: block;
    }
    #wb_element_instance21 {
        left: 740px;
        top: 340px;
        min-width: 230px;
        width: 230px;
        min-height: 24px;
        height: 24px;
        display: block;
    }
    #wb_element_instance22 {
        left: 20px;
        top: 480px;
        min-width: 240px;
        width: 240px;
        min-height: 39px;
        height: 39px;
        display: block;
    }
    #wb_element_instance23 {
        left: 270px;
        top: 490px;
        min-width: 700px;
        width: 700px;
        min-height: 20px;
        height: 20px;
        display: block;
    }
    #wb_element_instance24 {
        left: 20px;
        top: 560px;
        min-width: 131px;
        width: 131px;
        min-height: 131px;
        height: 131px;
        display: block;
    }
    #wb_element_instance24 img {
        width: 131px;
        height: 131px;
        display: block;
        position: static;
        left: 0px;
        top: 0px;
    }
    #wb_element_instance25 {
        left: 180px;
        top: 560px;
        min-width: 131px;
        width: 131px;
        min-height: 131px;
        height: 131px;
        display: block;
    }
    #wb_element_instance25 img {
        width: 131px;
        height: 131px;
        display: block;
        position: static;
        left: 0px;
        top: 0px;
    }
    #wb_element_instance26 {
        left: 340px;
        top: 560px;
        min-width: 131px;
        width: 131px;
        min-height: 131px;
        height: 131px;
        display: block;
    }
    #wb_element_instance26 img {
        width: 131px;
        height: 131px;
        display: block;
        position: static;
        left: 0px;
        top: 0px;
    }
    #wb_element_instance27 {
        left: 500px;
        top: 560px;
        min-width: 131px;
        width: 131px;
        min-height: 131px;
        height: 131px;
        display: block;
    }
    #wb_element_instance27 img {
        width: 131px;
        height: 131px;
        display: block;
        position: static;
        left: 0px;
        top: 0px;
    }
    #wb_element_instance28 {
        left: 660px;
        top: 560px;
        min-width: 130px;
        width: 130px;
        min-height: 130px;
        height: 130px;
        display: block;
        overflow: hidden;
    }
    #wb_element_instance28 img {
        width: 131px;
        height: 131px;
        display: block;
        position: relative;
        left: 0px;
        top: 0px;
        max-width: inherit;
    }
    #wb_element_instance29 {
        left: 820px;
        top: 560px;
        min-width: 131px;
        width: 131px;
        min-height: 131px;
        height: 131px;
        display: block;
    }
    #wb_element_instance29 img {
        width: 131px;
        height: 131px;
        display: block;
        position: static;
        left: 0px;
        top: 0px;
    }
    #wb_element_instance30 {
        left: 20px;
        top: 750px;
        min-width: 85px;
        width: 85px;
        min-height: 93px;
        height: 93px;
        display: block;
    }
    #wb_element_instance30 img {
        width: 85px;
        height: 93px;
        display: block;
        position: static;
        left: 0px;
        top: 0px;
    }
    #wb_element_instance31 {
        left: 30px;
        top: 370px;
        min-width: 200px;
        width: 200px;
        min-height: 24px;
        height: 24px;
        display: block;
    }
    #wb_element_instance32 {
        left: 270px;
        top: 370px;
        min-width: 200px;
        width: 200px;
        min-height: 24px;
        height: 24px;
        display: block;
    }
    #wb_element_instance33 {
        left: 510px;
        top: 370px;
        min-width: 200px;
        width: 200px;
        min-height: 24px;
        height: 24px;
        display: block;
    }
    #wb_element_instance34 {
        left: 760px;
        top: 370px;
        min-width: 180px;
        width: 180px;
        min-height: 24px;
        height: 24px;
        display: block;
    }
}

@media (min-width: 1200px) {
    #wb_header {
        height: 500px;
    }
    #wb_main {
        height: 907px;
    }
    #wb_footer {
        height: 80px;
    }
    body, .wb_sbg {
        min-width: 992px;
        min-height: 1487px;
    }
    .root {
        width: 992px;
        height: 1487px;
        overflow: visible;
    }
    #wb_element_instance0 {
        left: 466px;
        top: 31px;
        min-width: 500px;
        width: 500px;
        min-height: 60px;
        height: 60px;
        display: block;
    }
    #wb_element_instance1 {
        left: 20px;
        top: 70px;
        min-width: 169px;
        width: 169px;
        min-height: 72px;
        height: 72px;
        display: block;
    }
    #wb_element_instance2 {
        left: 15px;
        top: 16px;
        min-width: 180px;
        width: 180px;
        min-height: 180px;
        height: 180px;
        display: block;
    }
    #wb_element_instance2>div {
        width: 180px;
        height: 180px;
    }
    #wb_element_instance3 {
        left: 439px;
        top: 23px;
        min-width: 553px;
        width: 553px;
        min-height: 75px;
        height: 75px;
        display: block;
    }
    #wb_element_instance3>div {
        width: 553px;
        height: 75px;
    }
    #wb_element_instance4 {
        left: 20px;
        top: 20px;
        min-width: 429px;
        width: 429px;
        min-height: 24px;
        height: 24px;
        display: block;
    }
    #wb_element_instance5 {
        left: 877px;
        top: 21px;
        min-width: 39px;
        width: 39px;
        min-height: 38px;
        height: 38px;
        display: block;
    }
    #wb_element_instance5 img {
        width: 39px;
        height: 38px;
        display: block;
        position: static;
        left: 0px;
        top: 0px;
    }
    #wb_element_instance6 {
        left: 935px;
        top: 20px;
        min-width: 39px;
        width: 39px;
        min-height: 38px;
        height: 38px;
        display: block;
    }
    #wb_element_instance6 img {
        width: 39px;
        height: 38px;
        display: block;
        position: static;
        left: 0px;
        top: 0px;
    }
    #wb_element_instance7 {
        left: -1px;
        top: 310px;
        min-width: 993px;
        width: 993px;
        min-height: 190px;
        height: 190px;
        display: block;
    }
    #wb_element_instance7>div {
        width: 993px;
        height: 190px;
    }
    #wb_element_instance8 {
        left: 149px;
        top: 364px;
        min-width: 820px;
        width: 820px;
        min-height: 91px;
        height: 91px;
        display: block;
    }
    #wb_element_instance9 {
        left: 45px;
        top: 353px;
        min-width: 82px;
        width: 82px;
        min-height: 112px;
        height: 112px;
        display: block;
    }
    #wb_element_instance9 img {
        width: 82px;
        height: 112px;
        display: block;
        position: static;
        left: 0px;
        top: 0px;
    }
    #wb_element_instance10 {
        left: 120px;
        top: 785px;
        min-width: 850px;
        width: 850px;
        min-height: 72px;
        height: 72px;
        display: block;
    }
    #wb_element_instance11 {
        left: 30px;
        top: 30px;
        min-width: 280px;
        width: 280px;
        min-height: 43px;
        height: 43px;
        display: block;
    }
    #wb_element_instance12 {
        left: 310px;
        top: 50px;
        min-width: 680px;
        width: 680px;
        min-height: 10px;
        height: 10px;
        display: block;
    }
    #wb_element_instance13 {
        left: 0px;
        top: 430px;
        min-width: 992px;
        width: 992px;
        min-height: 310px;
        height: 310px;
        display: block;
    }
    #wb_element_instance13>div {
        width: 992px;
        height: 310px;
    }
    #wb_element_instance14 {
        left: 30px;
        top: 107px;
        min-width: 220px;
        width: 220px;
        min-height: 220px;
        height: 220px;
        display: block;
    }
    #wb_element_instance14 img {
        width: 220px;
        height: 220px;
        display: block;
        position: static;
        left: 0px;
        top: 0px;
    }
    #wb_element_instance15 {
        left: 267px;
        top: 107px;
        min-width: 220px;
        width: 220px;
        min-height: 220px;
        height: 220px;
        display: block;
    }
    #wb_element_instance15 img {
        width: 220px;
        height: 220px;
        display: block;
        position: static;
        left: 0px;
        top: 0px;
    }
    #wb_element_instance16 {
        left: 505px;
        top: 107px;
        min-width: 220px;
        width: 220px;
        min-height: 220px;
        height: 220px;
        display: block;
    }
    #wb_element_instance16 img {
        width: 220px;
        height: 220px;
        display: block;
        position: static;
        left: 0px;
        top: 0px;
    }
    #wb_element_instance17 {
        left: 742px;
        top: 107px;
        min-width: 220px;
        width: 220px;
        min-height: 220px;
        height: 220px;
        display: block;
    }
    #wb_element_instance17 img {
        width: 220px;
        height: 220px;
        display: block;
        position: static;
        left: 0px;
        top: 0px;
    }
    #wb_element_instance18 {
        left: 20px;
        top: 340px;
        min-width: 230px;
        width: 230px;
        min-height: 24px;
        height: 24px;
        display: block;
    }
    #wb_element_instance19 {
        left: 260px;
        top: 340px;
        min-width: 220px;
        width: 220px;
        min-height: 24px;
        height: 24px;
        display: block;
    }
    #wb_element_instance20 {
        left: 510px;
        top: 340px;
        min-width: 220px;
        width: 220px;
        min-height: 24px;
        height: 24px;
        display: block;
    }
    #wb_element_instance21 {
        left: 740px;
        top: 340px;
        min-width: 230px;
        width: 230px;
        min-height: 24px;
        height: 24px;
        display: block;
    }
    #wb_element_instance22 {
        left: 20px;
        top: 480px;
        min-width: 240px;
        width: 240px;
        min-height: 39px;
        height: 39px;
        display: block;
    }
    #wb_element_instance23 {
        left: 270px;
        top: 490px;
        min-width: 700px;
        width: 700px;
        min-height: 20px;
        height: 20px;
        display: block;
    }
    #wb_element_instance24 {
        left: 20px;
        top: 560px;
        min-width: 131px;
        width: 131px;
        min-height: 131px;
        height: 131px;
        display: block;
    }
    #wb_element_instance24 img {
        width: 131px;
        height: 131px;
        display: block;
        position: static;
        left: 0px;
        top: 0px;
    }
    #wb_element_instance25 {
        left: 180px;
        top: 560px;
        min-width: 131px;
        width: 131px;
        min-height: 131px;
        height: 131px;
        display: block;
    }
    #wb_element_instance25 img {
        width: 131px;
        height: 131px;
        display: block;
        position: static;
        left: 0px;
        top: 0px;
    }
    #wb_element_instance26 {
        left: 340px;
        top: 560px;
        min-width: 131px;
        width: 131px;
        min-height: 131px;
        height: 131px;
        display: block;
    }
    #wb_element_instance26 img {
        width: 131px;
        height: 131px;
        display: block;
        position: static;
        left: 0px;
        top: 0px;
    }
    #wb_element_instance27 {
        left: 500px;
        top: 560px;
        min-width: 131px;
        width: 131px;
        min-height: 131px;
        height: 131px;
        display: block;
    }
    #wb_element_instance27 img {
        width: 131px;
        height: 131px;
        display: block;
        position: static;
        left: 0px;
        top: 0px;
    }
    #wb_element_instance28 {
        left: 660px;
        top: 560px;
        min-width: 130px;
        width: 130px;
        min-height: 130px;
        height: 130px;
        display: block;
        overflow: hidden;
    }
    #wb_element_instance28 img {
        width: 131px;
        height: 131px;
        display: block;
        position: relative;
        left: 0px;
        top: 0px;
        max-width: inherit;
    }
    #wb_element_instance29 {
        left: 820px;
        top: 560px;
        min-width: 131px;
        width: 131px;
        min-height: 131px;
        height: 131px;
        display: block;
    }
    #wb_element_instance29 img {
        width: 131px;
        height: 131px;
        display: block;
        position: static;
        left: 0px;
        top: 0px;
    }
    #wb_element_instance30 {
        left: 20px;
        top: 750px;
        min-width: 85px;
        width: 85px;
        min-height: 93px;
        height: 93px;
        display: block;
    }
    #wb_element_instance30 img {
        width: 85px;
        height: 93px;
        display: block;
        position: static;
        left: 0px;
        top: 0px;
    }
    #wb_element_instance31 {
        left: 30px;
        top: 370px;
        min-width: 200px;
        width: 200px;
        min-height: 24px;
        height: 24px;
        display: block;
    }
    #wb_element_instance32 {
        left: 270px;
        top: 370px;
        min-width: 200px;
        width: 200px;
        min-height: 24px;
        height: 24px;
        display: block;
    }
    #wb_element_instance33 {
        left: 510px;
        top: 370px;
        min-width: 200px;
        width: 200px;
        min-height: 24px;
        height: 24px;
        display: block;
    }
    #wb_element_instance34 {
        left: 760px;
        top: 370px;
        min-width: 180px;
        width: 180px;
        min-height: 24px;
        height: 24px;
        display: block;
    }
}
